# Do not include Gemfile.lock in a gem
# http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock

# OS X Metadata file
.DS_Store

# vim temporary files
*.swp

# ignore any private keys floating around
*.pem

pkg/
tmp/

# Ignore gem files
*.gem

# Ignore IDEA project files
.idea/