# Copyright: Copyright (c) 2013 Opscode, Inc.
# License: Apache License, Version 2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Author:: Siddheshwar More (<siddheshwar.more@clogeny.com>)

# FIXME For now we will fetch the  creds from a config file

development:
  azure_subscription_id: azure_subscription_id
  azure_mgmt_cert: azure_mgmt_cert
  azure_api_host_name: azure_api_host_name
  azure_service_location: azure_service_location
  ssh_user: ssh_user
  ssh_password: ssh_password
  winrm_user: winrm_user
  winrm_password: winrm_password
  azure_linux_image: azure_linux_img
  azure_windows_image: azure_windows_img  