# FIXME For now we will fetch the  creds from a config file
AZ_SSH_USER: AZ_SSH_USER
AZURE_SUBSCRIPTION_ID: AZURE_SUBSCRIPTION_ID
AZURE_API_HOST_NAME: AZURE_API_HOST_NAME
AZ_WINDOWS_SSH_USER: AZ_WINDOWS_SSH_USER 
AZ_WINDOWS_SSH_PASSWORD: AZ_WINDOWS_SSH_PASSWORD
AZ_WINRM_USER: AZ_WINRM_USER 
AZ_WINRM_PASSWORD: AZ_WINRM_PASSWORD 
AZ_LINUX_IMAGE: AZ_LINUX_IMAGE 
AZ_LINUX_VM_SIZE: AZ_LINUX_VM_SIZE 
AZ_INVALID_VM_SIZE: AZ_INVALID_VM_SIZE
AZ_WINDOWS_VM_SIZE: AZ_WINDOWS_VM_SIZE 
AZ_WINDOWS_IMAGE: AZ_WINDOWS_IMAGE 
AZ_WINDOWS_SSH_IMAGE: AZ_WINDOWS_SSH_IMAGE 
AZ_AVAILABILITY_ZONE: AZ_AVAILABILITY_ZONE